<div class="main-container">
  <!--PRESENTACION-->
  <section class="card-container">
    <div id="card-large" class="card-large-1">
      <div class="avatar">
        <img src="../../assets/img/avatar1.jpg" width="130px" >
      </div>
      <div class="h1-heading">
        <h1>Ignacio Alvarado</h1>
        <h1>Ingeniero Informático y </h1>
        <h1>Desarrollador FullStack</h1>
      </div>
    </div>
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/icons/icon-project2.svg" width="100px">
      <div class="card-medium-1--text">
        <h2>¿Necesitas una página web?</h2>
        <h2>Contáctame</h2>
      </div>
      <button class="card-medium--button">ignacioalvaradomarzan@gmail.com</button>
    </div>
  </section>

</div>

<!--
<section>
  <div id="card-medium"></div>
  <div id="card-large" class="card-large-2">
    <p>Me especializo en la creación de soluciones digitales.</p>
    <p>Un desarrollo efectivo comienza con la comprensión de los valores fundamentales del proyecto.</p>
  </div>
</section>


<h1>Sobre mí</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>


<h1>Tecnologias</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>


<h1>Proyectos</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>

<h1>Curriculum</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>


<h1>Call to action</h1>
<section class="container">
  <div id="card-large"></div>
</section>
-->
