<section class="main-container">
  <!--PRESENTACION-->
  <div class="card-container">
    <div id="card-large" class="card-large-1">
      <div class="avatar">
        <img src="../../assets/img/avatar1.jpg" >
      </div>
      <div class="h1-heading">
        <h1>Ignacio Alvarado <br/>Desarrollador FullStack <br/> Especialista en FrontEnd</h1>
      </div>
    </div>
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/icons/icon-project2.svg" width="100px">
      <div class="card-medium-1--text">
        <p class="p-title">¿Tienes un proyecto en mente?</p>
        <p class="p-subtitle">Contáctame</p>
      </div>
      <app-button name="ignacioalvaradomarzan@gmail.com"></app-button>
    </div>
  </div>
</section>
<section class="main-container">
  <div class="card-container">
    <div id="card-medium" class="card-medium-2">
      <img src="../../assets/icons/pin.svg" width="100px">
      <p class="p-title">Viña del Mar,<br/>Chile<br/>GMT-4</p>
    </div>
    <div id="card-large" class="card-large-2">
        <p class="p-title">Soy un desarrollador FullStack, más orientado al desarrollo FrontEnd, debido a que es un area que me apasiona, incorporando la lógica de programación y haciendo sitios estéticos y funcionales.</p>
    </div>
  </div>
</section>


<!--TECNOLOGIAS-->
<h2 class="title">Tecnologías</h2>
<section class="main-container">
  <div class="card-container-tech">
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p>JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p>JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p>JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p>JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p>JavaScript</p>
    </div>
    <div id="card-tech">
      <img src="../../assets/img/tecnologies/javascript.png" width="100px">
      <p>JavaScript</p>
    </div>
  </div>
</section>

<!--CURRICULUM-->
<h2 class="title">Curriculum</h2>
<section class="main-container">
  <div class="card-container">
    <div id="card-medium" class="card-medium-1">
      <img src="../../assets/icons/download.svg" width="100px">
      <div class="card-medium-1--text">
        <p class="p-subtitle">Descarga mi CV Actualizado</p>
      </div>
      <app-button name="Descargar"></app-button>
    </div>
    <div id="card-large" class="card-large-2">
        <p class="p-title">Me considero una persona muy comprometida con su trabajo, y muy adaptable a diversos entornos profesionales.<br/>Si necesitas más información, puedes descargar mi CV.</p>
    </div>
  </div>
</section>

<section class="main-container">
  <div class="card-container">
    <div id="card-xlarge">
    </div>
  </div>
</section>

<section class="main-container">
  <div class="card-container">
    <div id="card-xxlarge">
    </div>
  </div>
</section>



<!--
<section>
  <div id="card-medium"></div>
  <div id="card-large" class="card-large-2">
    <p>Me especializo en la creación de soluciones digitales.</p>
    <p>Un desarrollo efectivo comienza con la comprensión de los valores fundamentales del proyecto.</p>
  </div>
</section>


<h1>Sobre mí</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>


<h1>Tecnologias</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>


<h1>Proyectos</h1>
<section class="container">
  <div id="card-large"></div>
  <div id="card-medium"></div>
</section>


<h1>Call to action</h1>
<section class="container">
  <div id="card-large"></div>
</section>
-->
