.navbar{
  color: white;
  width: 100vw;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-around;


  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    li{
      list-style: none;
    }
  }
  a{
    font-family: 'Inter-Bold';
    text-decoration: none;
    font-size: 22px;
  }
}

img{
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .navbar{
    width: 100%;
    justify-content: space-around;

    a{
      font-size: 18px;
    }
  }
}
