
img{
  width: 50px;
}

.principal-content{

  justify-content: center;
  align-items: center;

}


@media only screen and (max-width: 600px) {
  .navbar{
    width: 100%;
    justify-content: space-around;
    a{
      font-size: 18px;
    }
  }
}
