.container{
  display: flex;
  margin: 50px 100px 0 100px;
  justify-content: center;
  align-items: center;

  .container-title{
    height: 500px;
    width: 500px;
    h1{
      margin: 0;
    }
    .title{
      display:flex;
      gap: 10px;
    }
    .title-color{
      color: #d6fb42;
    }
    p{
      padding-bottom: 12px;
    }
  }
}


@media only screen and (max-width: 1020px) {
  .container {
    margin: 0;
    padding-top: 40px;
    .container-title{
      height: 400px;
    }
  }
  .container-title{
    padding: 12px;
    max-width: 400px;
    .title{
      display:flex;
      flex-direction: column;

    }
    .title-color{
      color: #d6fb42;
    }

  }

  .container-img{
    width: 20%;
  }
  img{
    width: 280px;
    height: 600px;
    object-fit:cover;
    background: fixed;
    margin: -10px 0px 0px -30px;
  }
}
@media only screen and (max-width: 600px) {

  .container-img{
    img{
      width: 110px;
      height: 540px;
      left: 100px;
      object-position: 1px;
    }
  }
}
