.container{
  display: flex;
  margin: 50px 100px 0 100px;
  justify-content: center;
  align-items: center;

  .container-title{
    height: 500px;
    width: 500px;
    h1{
      margin: 0;
    }
    .title{
      display:flex;
      gap: 10px;
    }
    .title-color{
      color: #d6fb42;
    }
    p{
      padding-bottom: 12px;
    }
  }
}


@media only screen and (max-width: 1020px) {
  .container {
    margin: 0;
    padding: 70px 0 30px 0;
    .container-title{
      height: 400px;
    }
  }
  .container-title{
    max-width: 400px;
    .title{
      display:flex;
      flex-direction: column;

    }
    .title-color{
      color: #d6fb42;
    }
  }

  .container-img{
    width: 20%;
  }
  img{
    width: 200px;
    object-fit:cover;
    background: fixed;
    margin: -30px 0px 0px -60px;
  }
}
