<section class="container">
  <div class="container-title">
    <h1>Hey It's Nash</h1>
    <h1>I'm a FullStack</h1>
    <h1>Developer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, odit mollitia non maxime voluptate minima labore quos reprehenderit repellat. Alias vero qui, a quos voluptatem provident harum soluta maiores similique!</p>
    <app-button name="View My Works"></app-button>
  </div>
  <div class="container-img">
    <img src="./assets/img/img2.png" alt="">
  </div>
</section>
