*{
  padding-bottom: 8px;
}

.navbar{
  color: white;
  max-width: 1220px;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131315;
  border-radius: 40px;

  .navbar-logo{
    padding: 0;
    margin: 20px;
    p{
      font-family: 'Inter-Bold';
      margin: 0;
      padding: 0;
      font-size: 20px;
    }
  }

  ul{
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    li{
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  a{
    padding: 0;
    height: auto;
    font-family: 'Inter-Bold';
    text-decoration: none;
    font-size: 20px;
    color: white;

  }
}

section{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
}


  //Elementos
  .card-large-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .avatar{
      img{
        border-radius: 50%;
      }
    }
    .h1-heading{
      h1{
        padding: 0;
        margin: 0;
        font-family: 'Inter-Regular';
      }
    }
  }

  .card-medium-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .card-medium-1--text{
      padding: 0;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      height: 100px;
      h2{
        padding: 0;
        margin: 0;
        font-size: 28px;
        font-family: 'Inter-Regular';
      }
    }
    .card-medium--button{
      width: 400px;
      max-width: 400px;
      height: 80px;
      background-color: #fe5e19;
      border-radius: 50px;
      border-style: none;
      color: #ffffff;
      font-size: 20px;
    }
  }

  .card-large-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
      padding: 0;
      margin: 0;
      font-family: 'Inter-Regular';
      font-size: 48px;
    }
    p:last-child{
      color: #8a8a93;
    }
  }



@media only screen and (max-width: 1020px) {

}
@media only screen and (max-width: 600px) {


}
