.container{
  display: flex;
  flex-direction: column;
  margin: 50px 50px 0 50px;
  justify-content: center;
  align-items: center;
  h1{
    width:auto;
  }
  .container-content{
    display: flex;
    flex-direction: row;

    .container-content-info{
      width: 50%;
    }
    .container-content-stack{
      width: 50%;
    }
  }
}
