<section class="container">
  <h1>Get to Know Me</h1>
  <div class="container-content">
    <div class="container-content-info">
      <p>
        Hey there, I'm Kelechi Ekebor, a frontend
        developer with serious passion for creating
        top-notch user experiences through cutting
        edge fröntend architecture. I take great pride in
        writing clean, scalable code that can stand the
        test of time. Embracing agile processes is my
        thing and I thrive in dynamic environments
        where precision and efficiency are key.
        Beyond my tech prowess, I'm also deeply
        committed to making a difference. I actively
        volunteer with organizations that empower and
        inspire more women to join the tech industry.
        Diversity and inclusion are close to my heart,
        and believe n making the tech world a more
        welcoming place for everyone.
      </p>
    </div>
    <div class="container-content-stack">
      <div class="container">
        <strong>Lenguages</strong>
        <p>Javascript</p>
        <p>Typescript</p>
        <p>SQL</p>
      </div>
      <div class="container">
        <strong>Frameworks/Complements</strong>
        <p>Angular</p>
        <p>React</p>
        <p>NodeJS</p>
        <p>Express</p>
      </div>
    </div>
  </div>
</section>
