.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .container-content{
    max-width: 1200px;
    display: flex;
    .container-content-info{
      margin-top: 40px;
      margin-right: 80px;
      margin-bottom: 40px;
      margin-left: 80px;
      p{
        width: auto;

      }
    }
    .container-content-stack{
      margin: 80px;
      display: flex;
      gap: 10px;
      .container{
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container-content{
    flex-direction: column;
    .container-content-info{
      margin-right: 20px !important;
      margin-left: 20px !important;
      p{
        color: red;
      }
    }
  }
}
