button{
  font-family: 'Inter-Bold';
  background-color: #d6fb42;
  color: black;
  padding: 30px;
  justify-content: center;
  align-items: center;
  border-style: none;
  transition-duration: 1s;
}
button:hover{
  background-color: black;
  color: #d6fb42;
  transition-duration: 1s;
  cursor: pointer;
}
